{% extends "base.html" %}

{% block title %}Home{% end %}

{% block content %}
  {% if not current_user %}
    <p>Login to update fruit quantity.</p>
  {% end %}
  
  <ul class="fruit-list">
    {% for fruit in fruits %}
      <li class="fruit-item">
        <span class="fruit-name">{{ fruit[1][0].upper() + fruit[1][1:] }} - {{ fruit[2] }}</span>
        {% if current_user %}
          <form action="/fruit/{{ fruit[0] }}" method="post">
            <select name="quantity" class="quantity-select">
              {% for i in range(6) %}
                <option value="{{ i }}" {% if fruit[2] == i %}selected{% end %}>{{ i }}</option>
              {% end %}
            </select>
            <button type="submit" class="update-button">Update</button>
          </form>
        {% end %}
      </li>
    {% end %}
  </ul>

  <section class="feedback-section">
    <h2>Send Us Your Feedback</h2>
    <p>We value your input. Please share your thoughts about the app:</p>
    <form action="/" method="post">
      <div class="form-group">
        <label for="feedback">Your Feedback:</label>
        <textarea id="feedback" name="feedback" rows="4" required></textarea>
      </div>
      <button type="submit">Submit</button>
    </form>
  </section>
    {% end %}
